/* Just the loading popup and mask styles */

#loading-popup {
    display: none;
    position: absolute;
    width: 400px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: silver;
    font-family: 'Windows';
    border-style: solid;
    border-width: 2px;
    border-top-color: silver;
    border-left-color: black;
    border-bottom-color: black;
    border-right-color: silver;
    z-index: 999;
}

#loading-content {
    margin: 15px;
}

#loading-bar {
    height: 20px;
    background-color: white;
    margin: 15px;
    display: flex;
    gap: 1px;
    padding: 1px;
}

.block {
    width: 20px;
    height: 20px;
    background-color: #000082;
    opacity: 0;
  }

.animate .block {
    animation: appear 1s forwards;
  }

.animate .block:nth-child(1) { animation-delay: 0s; }
.animate .block:nth-child(2) { animation-delay: 0.1s; }
.animate .block:nth-child(3) { animation-delay: 0.2s; }
.animate .block:nth-child(4) { animation-delay: 0.3s; }
.animate .block:nth-child(5) { animation-delay: 0.4s; }
.animate .block:nth-child(6) { animation-delay: 0.5s; }
.animate .block:nth-child(7) { animation-delay: .6s; }
.animate .block:nth-child(8) { animation-delay: .6s; }
.animate .block:nth-child(9) { animation-delay: .6s; }
.animate .block:nth-child(10) { animation-delay: .6s; }
.animate .block:nth-child(11) { animation-delay: .7s; }
.animate .block:nth-child(12) { animation-delay: .7s; }
.animate .block:nth-child(13) { animation-delay: .8s; }
.animate .block:nth-child(14) { animation-delay: .9s; }

@keyframes appear {
    to {
      opacity: 1;
    }
  }

#mask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;
  transition: height 1s linear;
}