/* All styles within the netscape browser excluding the content body and sidebar */

#url-bar {
    background-color: silver;
    padding: 2px;
    display: flex;
    align-items: center;
}

.url-button {
    border-style: solid;
    border-width: 2px;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: black;
    border-right-color: black;
    padding: 2px;
}

#url-field {
    background-color: white;
    width: 100%;
    border: 1px solid #868485;
    font-family: 'Windows';
    display: flex;
    align-items: center;
    padding: 3px;
    margin: 1px;
    margin-left: 8px;
    margin-right: 8px;
}

#url-field img {
    width: 20px;
    margin-right: 10px;
}

.container {
    background-image: url('../images/backgrounds/stars3-bg.gif');
    background-size: fill;
    height: calc(100vh - 107px);
    display: flex;
    overflow-y: scroll;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}


#content-banner {
    background-image: url('../images/backgrounds/circuit-bg.png');
    background-size: fill;  
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-text {
    font-size: 36px;
    font-weight: 900;
    transform: perspective(400px) rotateX(15deg);
    color: blue;
    text-shadow: rgba(150, 150, 150, 0.557) 3px 3px;
}

#content-footer {
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}

#footer-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}