@font-face {
    font-family: 'Windows';
    src: url('fonts/windows.ttf');
}

html, body {
    cursor: url('cursors/arrow.cur'), auto;
  }

a {
    cursor: url('cursors/Cursor_15.cur'), auto;
}

body {
    background-color: #038180;
    margin: 0; /* remove default body margin */
    padding: 0; /* remove padding between body and internal divs */
    min-height: 100vh; /* fill entire viewport */
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 16px;
    padding-top: 10px;
    margin: 0px;
    padding-bottom: 15px;
    color: #ffd596;
}

h3 {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    text-shadow: rgba(150, 150, 150, 0.557) 3px 3px;
}

#loading {
    display: none;
    position: absolute;
    width: 400px;
    height: auto;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 150px;
    background-color: silver;
    font-family: 'Windows';
    border-style: solid;
    border-width: 2px;
    border-top-color: silver;
    border-left-color: black;
    border-bottom-color: black;
    border-right-color: silver;
}

#loading-content {
    margin: 15px;
}

#loading-bar {
    height: 20px;
    background-color: white;
    margin: 15px;
    display: flex;
    gap: 5px;
    padding: 1px;
}

.block {
    width: 20px;
    height: 20px;
    background-color: #000082;
    opacity: 0;
  }

.animate .block {
    animation: appear 1s forwards;
  }

.animate .block:nth-child(1) { animation-delay: 0s; }
.animate .block:nth-child(2) { animation-delay: 0.1s; }
.animate .block:nth-child(3) { animation-delay: 0.2s; }
.animate .block:nth-child(4) { animation-delay: 0.3s; }
.animate .block:nth-child(5) { animation-delay: 0.4s; }
.animate .block:nth-child(6) { animation-delay: 0.5s; }
.animate .block:nth-child(7) { animation-delay: .6s; }
.animate .block:nth-child(8) { animation-delay: .6s; }
.animate .block:nth-child(9) { animation-delay: .6s; }
.animate .block:nth-child(10) { animation-delay: .6s; }
.animate .block:nth-child(11) { animation-delay: .7s; }
.animate .block:nth-child(12) { animation-delay: .7s; }
.animate .block:nth-child(13) { animation-delay: .8s; }
.animate .block:nth-child(14) { animation-delay: .9s; }

@keyframes appear {
    to {
      opacity: 1;
    }
  }


/* WINDOW */
.window {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: silver;
    border-right-color: silver;
    min-width: 400px;
    width: 100%;
    height: 100%;
}

.window-tab {
    background-color: #000082;
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    color: white;
    font-family: 'Windows';
    font-size: 18px;
    border-bottom: 1px solid silver;
    margin: 0;
}

.window-tab span {
    margin-left: 10px
}

.tab-icon {
    width: 20px;
    margin: 5px;
    margin-right: 7px;
}

.tab-close {
    width: 25px;
    margin: 5px;
    margin-left: auto;
}

#url-bar {
    background-color: silver;
    padding: 2px;
    display: flex;
    align-items: center;
}

.url-button {
    border-style: solid;
    border-width: 2px;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: black;
    border-right-color: black;
    padding: 2px;
}

#url-field {
    background-color: white;
    width: 100%;
    border: 1px solid #868485;
    font-family: 'Windows';
    display: flex;
    align-items: center;
    padding: 3px;
    margin: 1px;
    margin-left: 8px;
    margin-right: 8px;
}

#url-field img {
    width: 20px;
    margin-right: 10px;
}

.container {
    background-image: url('images/backgrounds/bg.png');
    background-size: fill;
    height: calc(100vh - 107px);
    display: flex;
    overflow-y: scroll;
}

#navbar {
    width: 140px;
    color: white;
    margin: 10px;
    margin-left: 20px;
    transform: rotate(-2deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('images/backgrounds/bubbles.gif'), linear-gradient(180deg,#000082, transparent);
}

#navbar h1 img {
    width: fit-content;
    transform: translateY(5px);
}

#navbar ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
  }

#navbar li {
    margin-bottom: 5px;
    transform: rotate(4deg);
}

#navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: yellow;
}

#navbar a:hover {
    color: white;
}

#navbar img {
    width: 60px;
    margin-bottom: 5px;
}

.spin-hover {
    transition: transform 1s linear;
}

.spin-hover:hover {
    transform: rotate(360deg);
}

.frame1 {
    border: 20px solid transparent;
    border-image: url('images/frames/frame1.png') 90;
    background-color: black;
}

.frame2 {
    border: 20px solid transparent;
    border-image: url('images/frames/frame2.png') 160;
    background-color: black;
}

#sidebar-left {
    display: flex;
    flex-direction: column;
    color: yellow;
    margin: 10px;
    align-items: center;
}

#friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(3deg) translateX(15px);
    width: 130px;
    margin: 25px;
    margin-top: 10px;
    background-image: url('images/backgrounds/bubbles.gif');
}

#friends a {
    width: 70%;
    margin-bottom: 7px;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

#fire-banner {
    transform: rotate(180deg);
}

#content-body {
    background-color: white;
    padding:10px;
    border-radius: 10px;
    border: 3px solid #2bb4e6;
    outline: 2px solid blue;
    outline-offset: 2px;
    background-image: url('images/backgrounds/bow-bg.gif');
}

#content-banner {
    background-image: url('images/banners/glowstars-pink-alt.gif');
    background-size: auto;  
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-text {
    font-size: 36px;
    font-weight: 900;
    transform: perspective(400px) rotateX(15deg);
    color: blue;
    text-shadow: rgba(150, 150, 150, 0.557) 3px 3px;
}

#content-footer {
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}

#footer-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

/* TASKBAR */
#taskbar {
    background-color: silver;
    position: fixed; /* relative to the browser window */
    bottom: 0; /* use with positioned: fixed rel to browser */
    width: 100%;
    height: auto; /* relative to the buttons within */
    z-index: 999; /* always up front */

    display: flex; /* flexbox for the buttons */
    align-items: center;
    border-top: 2px solid white;
}

  .taskbar-button {
    background-color: silver;
    display: flex;
    align-items: center;
    margin: 3px;
    padding: 3px;
    font-family: 'Windows';
    font-weight: 900;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    border-style: solid;
    border-width: 2px;
  }

  .taskbar-button img {
    width: 20px;
    margin-right: 7px;
    background-color: silver;
  }

  .button-inactive {
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: black;
    border-right-color: black;
  }

  .button-active {
    background-color: #dddddd;
    background-image: url('images/active.svg');
    background-size: 4px;
    image-rendering: pixelated; /* dont blend! */

    border-top-color: black;
    border-left-color: black;
    border-bottom-color: white;
    border-right-color: white;
  }

  #time {
    font-weight: 300;
    margin-left: auto; /* push all the way right */

    background-color: #bcbfc4;
    border-top-color: #868485;
    border-left-color: #868485;
    border-bottom-color: white;
    border-right-color: white;
  }

  .taskbar-divider {
    width: 2px;
    height: 25px;
    background-color: #868485;
    border-right: 1px solid white;
    margin: 0 10px;
  }

  #taskbar-pins {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  #taskbar-pins img {
    width: 20px;
  }


  body *::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background: none;
  }
  
  body *::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-button {
    width: 16px;
    height: 16px;
    background: silver;
    box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
    border: 1px solid;
    border-color: silver #000 #000 silver;
  }
  
  body *::-webkit-scrollbar-track {
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 2px;
  }
  
  body *::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    background-size: 16px;
  }
  
  body *::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
  }
  
  body *::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
  }
  
  body *::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
  }
  
  body *::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
  }
  
  body *::-webkit-scrollbar-corner {
    background: silver;
  }
  
  /* dakedres was here ;3 */