/* Just the window styles for any window creation */

.window {
    position: relative;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: silver;
    border-right-color: silver;
}

.window-tab {
    background-color: #000082;
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    color: white;
    font-family: 'Windows';
    font-size: 18px;
    border-bottom: 1px solid silver;
    margin: 0;
}

.window-tab span {
    margin-left: 10px
}

.tab-icon {
    width: 20px;
    margin: 5px;
    margin-right: 7px;
}

.tab-close {
    width: 25px;
    margin: 5px;
    margin-left: auto;
}